<h2>{{ titulo }}</h2>

<p>Añadir marca</p>
<p>
	<input type="text" [(ngModel)]="miMarca" (blur)="onBlur()" (keyup.enter)="mostrarPalabra()">
	<button (click)="getMarca()">Mostrar marca</button>
	<button (click)="addMarca()">Añadir marca</button>
</p>
<strong>{{ miMarca }}</strong>

<p>Compra las zapatillas de las mejores marcas:</p>
<ul>
	<li *ngFor="let marca of marcas; let indice = index">
		{{ indice + ' - ' + marca }}
		<button (click)="removeMarca(indice)">Borrar</button>
	</li>
</ul>

<p>Las deportivas que tenemos disponibles son:</p>
<ul>
	<li *ngFor="let zapatilla of zapatillas">
		<span [ngStyle]="{
					'text-decoration': !zapatilla.stock ? 'line-through' : 'none'
		}">
			{{ zapatilla.nombre }} - 
			<strong [class.altoPrecio]="zapatilla.precio >= 80"
					[ngClass]="{ 'fondoRojo': zapatilla.precio > 100,
								 'subrayado': zapatilla.marca == 'Nike'}">
				{{ zapatilla.precio }}€ 
			</strong>
		</span>

		<span *ngIf="zapatilla.precio < 80"
			[style.background]="zapatilla.precio < 80 ? 'green' : 'transparent'"
			[style.color]="zapatilla.precio < 80 ? 'white' : 'black'">
			¡EN OFERTA!</span>
	</li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'gray'">
		El color predominante es el <span [ngStyle]="{'background': color}">gris</span>.
	</li>
	<li *ngSwitchCase="'red'">
		El color predominante es el <span [ngStyle]="{'background': color}">rojo</span>.
	</li>
	<li *ngSwitchCase="'blue'">
		El color predominante es el <span [ngStyle]="{'background': color}">azul</span>.
	</li>
	<li *ngSwitchCase="'black'">
		El color predominante es el <span [ngStyle]="{'background': color,
													  'color': 'white'}">
		negro</span>.
	</li>
</ul>